<ul class="topnav">   
       <li>  
            <a href="#">Home</a>  
            <ul class="subnav">  
              <li><%= link_to "All Articles", articles_path%></li>
                <li><a href="#">Beginner's Article'</a></li>  
                <li><a href="#">GRE Quants Articles</a></li>
                <li><a href="#">GRE Verbal Articles</a></li>
                <li><a href="#">GRE Analytical Articles</a></li>
                <li><a href="#">College Life</a></li>
            </ul>  
        </li>  
        <li>  
            <a href="#">Recommendations</a>  
            <ul class="subnav">  
                <li><a href="#">Study planner creator</a></li>  
                <li><a href="#">College Suggestor</a></li>  
            </ul>  
        </li>  
        <li>  
            <a href="#">Social</a>  
            <ul class="subnav">  
                <li><%= link_to "Forum", forums_path%></li>  
                <li><a href="#">Study Partner Finder</a></li>  
            </ul>  
        </li>  
         <li>  
            <a href="#">Ranking</a>  
            <ul class="subnav">  
                <li><a href="#">College Ranking</a></li>    
            </ul>  
        </li>  
         <li>  
            <a href="#">Helper</a>  
            <ul class="subnav">  
                <li><a href="#">Get a Word</a></li>
                <li><a href="#">Book Recommendation</a></li> 
            </ul>  
        </li>  
        <li><a href="#">About Us</a></li>  
    </ul>  